@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'DotGothic16', sans-serif;
}

html {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #5d7a55;
  background-repeat: repeat;
  background-size: 60%;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  height: 100dvh;
  display: flex;
}

.map-container {
  height: 100dvh;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
}


#search-results-container {
  width: 25%;
  max-width: 500px;
  padding: 20px;
  font-size: 16px;
  background-color: white;
  font-style: 'DotGothic16';
  z-index: 7;
  box-sizing: border-box;
  overflow: scroll;

}

#filter-box {
  width: 25%;
  max-width: 500px;
  padding: 20px;
  font-size: 16px;
  background-color: white;
  font-style: 'DotGothic16';
  z-index: 7;
  box-sizing: border-box;
  max-height: 20%;
  position: fixed;
  bottom: 0;
  left: 0;

}

.search-result {
  width: 100%;
  left: 0px;
  font-size: 12px;
  background-color: lightblue;
  border-radius: 15px;
  font-style: 'DotGothic16';
  margin: 10px 0;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;

}

.chopcorner {
  bottom: 10px;
  /* Adjust the value to your preference */
  right: 10px;
  /* Adjust the value to your preference */
  width: 200px;
  background-color: #a7d49b;
  border-radius: 15px;
  font-size: 12px;
  margin: 10px 0;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
}

.popup {
  display: none;
  position: absolute;
  bottom: 50px;
  /* Adjust the value to your preference */
  right: 50px;
  /* Adjust the value to your preference */
  background-color: #a7d49b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-size: 12px;
  margin: 10px 0;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  width: 200px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .app-container {
    flex-direction: column-reverse;
  }

  #search-results-container {
    width: 100%;
    max-height: 45%;
  }

  .chopcorner {
    top: 10px;
    left: 10px;
    bottom: unset;
    right: unset;
  }

  .popup {
    top: 10px;
    left: 10px;
    bottom: unset;
    right: unset;
  }
}


@media (max-width: 767px) {
  .description {
    font-size: 18px;
    /* Adjust font size for smaller screens */
  }
}